# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
# Call the CSV of WeatherPy
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,saint george,37.1041,-113.5841,97.43,23,0,4.00,US,1661713132
1,1,mahebourg,-20.4081,57.7000,72.25,87,37,11.36,MU,1661713145
2,2,port alfred,-33.5906,26.8910,61.70,74,34,9.28,ZA,1661713149
3,3,anamur,36.0751,32.8369,81.03,60,0,9.80,TR,1661713154
4,4,isangel,-19.5500,169.2667,68.11,94,75,2.30,VU,1661713156

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
# configure Gmaps
gmaps.configure(api_key=g_key)

In [13]:
#heat map of the humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig=gmaps.figure()

#add the heatmap layer to the figure
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
idealWeatherDF = city_data_df.loc[
    (city_data_df["Max Temp"] >70) & (city_data_df["Max Temp"] <80) &\
    (city_data_df["Wind Speed"] <10) &\
    (city_data_df["Cloudiness"] ==0)
].dropna()

print(len(idealWeatherDF))
idealWeatherDF.head()

13

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
134,134,san ramon,37.7799,-121.9780,79.27,60,0,4.00,US,1661713324
165,165,sydney mines,46.2367,-60.2177,76.14,58,0,5.99,CA,1661713569
199,199,quetigny,47.3167,5.1167,78.46,50,0,6.91,FR,1661713655
239,239,saint-pierre,-21.3393,55.4781,71.91,74,0,0.00,RE,1661713746
252,252,nurobod,40.9056,69.8023,71.26,20,0,5.03,UZ,1661713778

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotelDF = idealWeatherDF[["City", "Country", "Lat", "Lng"]]
hotelDF["Hotel Name"] =""
hotelDF

C:\Users\fam\AppData\Local\Temp\ipykernel_23440\3256223330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotelDF["Hotel Name"] =""

             City Country      Lat       Lng Hotel Name
134     san ramon      US  37.7799 -121.9780
165  sydney mines      CA  46.2367  -60.2177
199      quetigny      FR  47.3167    5.1167
239  saint-pierre      RE -21.3393   55.4781
252       nurobod      UZ  40.9056   69.8023
285         khash      IR  28.2211   61.2158
300       mpongwe      ZM -13.5091   28.1550
354     chornobay      UA  49.6708   32.3239
387        boueni      YT -12.9025   45.0761
429     katherine      AU -14.4667  132.2667
446         tabas      IR  33.5959   56.9244
456       chikola      RU  43.1906   43.9209
462         farah      AF  32.5000   62.5000

In [20]:
#set the parameters to search for a hotel
params = {
    "radius" : 5000,
    "types" : "lodging",
    "key" : g_key     
}

# Loop through dataframe using iterrows()
for index, row in hotelDF.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    #use lat and long to set location value in params
    params["location"] = f"{lat}, {lng}"
    
    # use the google api places base url
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and print the url
    name_address = requests.get(base_url, params=params).json()
    #pprint(name_address)
    
    try:
        hotelDF.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except:
        print(f"Error finding lodging in {row['City']}. Skipping...")
        pass
    
hotelDF

Error finding lodging in nurobod. Skipping...
Error finding lodging in chikola. Skipping...
Error finding lodging in farah. Skipping...

             City Country      Lat       Lng                      Hotel Name
134     san ramon      US  37.7799 -121.9780              San Ramon Marriott
165  sydney mines      CA  46.2367  -60.2177     At The Harbourfront B&B Inc
199      quetigny      FR  47.3167    5.1167      Hôtel Kyriad Dijon Mirande
239  saint-pierre      RE -21.3393   55.4781                     Alize Plage
252       nurobod      UZ  40.9056   69.8023
285         khash      IR  28.2211   61.2158              خوابگاه آبجی محدثه
300       mpongwe      ZM -13.5091   28.1550  Casablanca guest house and bar
354     chornobay      UA  49.6708   32.3239                         Veselka
387        boueni      YT -12.9025   45.0761               The feet in water
429     katherine      AU -14.4667  132.2667                 Pine Tree Motel
446         tabas      IR  33.5959   56.9244   شرکت معماری مهراز شایگان آراد
456       chikola      RU  43.1906   43.9209
462         farah      AF  32.5000   62.5000

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotelDF.iterrows()]
locations = hotelDF[["Lat", "Lng"]]

In [23]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))